body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 8vw;
    font-weight: bold;
    line-height: 18vw;
    height: 18vw;
    padding: 0;
    text-align: center;
    width: 18vw;
}

.game {
    display:flex;
    justify-content: center;
    align-items: center; 
    height: 75vw; 
} 
