body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol {
    padding-left: 30px;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 8vw;
    font-weight: bold;
    line-height: 18vw;
    height: 18vw;
    margin-right: -1vw;
    margin-top: -1vw;
    padding: 0;
    text-align: center;
    width: 18vw;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display:flex;
    justify-content: center;
    align-items: center; 
    height: 100vw;  
} 
